/* ======================================== */
/* fonts */

@font-face {
	font-family: "Eurostile";
	src: url("../fonts/eurostile-webfont.woff") format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* ======================================== */
/* general */

body {
	padding:0; 
	margin:0; 
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
}

h1 {
  font-size:240%;
	font-family: Eurostile;
  margin-top:4px;
  padding-bottom:0;
   margin-bottom:4px;
	text-align: center;
}

h2 {
	font-size:180%;
	font-family: Eurostile;
	font-weight: 800;
	margin-top:25px;
	padding-bottom:0;
	margin-bottom:8px;
	text-align: center;
}

h3 {
  font-size:120%;
   padding-top:8px;
   padding-bottom:0;
   margin-top:0;
   margin-bottom:0;
}

p {
	font-size: 14px;
}

p a:link, p a:visited {
  color: #064fde;
  text-decoration: none;
}
p a:hover {
  text-decoration: underline;
}

.first-col {
  padding-right: 6px;
}
	
.row {
    margin-right: 0px;
    margin-left: 0px;
}

#controls .row {
	padding: 10px 0px;
	margin-top: -20px;
}


/* ======================================== */

/* filtering section area */

div.filterBy {
	padding: 0 0 0 0px;
	margin: 0;
}

#year-controls{
	margin-top: -15px;
	margin-left: -40px;
}

div.filterBy {
	padding: 0 0 0 20px;
	margin: 0;
}

label {
	cursor: text;
	font-size: 1em;
	margin-top: 1em;
}

#controls label.select {
	display: inline;
}

select.form-control {
	display: inline;
	width: auto;
	font-size: 1em;
}

p.filterLabel {
	display: inline;
	margin: 0 0 0 .2em;
	padding-bottom: 0;
}

div.tooltip {
	position: absolute;
	text-align: center;
	background: white;
	padding: 2px;
	border: 1px;
	border-radius: 4px;
	pointer-events: none;
}

/* ======================================== */
/* plant-specific area */


/* intro div */

#intro-div {
	height: 180px;
	margin-top: -5px;
}

/* plant details */

#tooltip {
	position: relative;
	text-align:center;
	padding: 10px;
	border: solid 1px gray;
	border-radius: 10px;
	-moz-box-shadow: inset 0 0 2px #000000;
	-webkit-box-shadow: inset 0 0 2px #000000;
	box-shadow: inset 0 0 2px #000000;
	overflow: hidden;
}

#tooltip .line{
	fill: none;
	stroke: blue;
	stroke-width: 2px;
}

#plant-color{
	position: absolute;
	width: 50px;
	height: 50px;
	top: -180px;
	right: 90%;
}

#gen_commenced{
	margin-top: -10px;
	margin-bottom: 20px;
}

#address, #city_state{
	font-size: 16px;
	margin-bottom: 0px;
	text-align: left;
}

#inst_cap, #tech_type{
	font-size: 16px;
	margin-bottom: 0px;
	text-align: right;
}

/* ======================================== */
/* map */

#map circle {
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1px;
}

circle.size {
	fill: #ddd;
}

#site-name-row {
  margin-top: 5px;
  margin-bottom:0;
  padding-bottom:0;
}

/* ======================================== */
/* legend */

#legend text {
	alignment-baseline: middle;
	font-size: 14px;
}

#legend text. {
	text-anchor: start;
}

#legend text.size-text {
	text-anchor: middle;
}

/* ======================================== */
/* chart components */

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.browser text {
	text-anchor: end;
}

.area {
	opacity: 0.7;
	clip-path: url(#clip);
}

.area:hover {
	opacity: 1;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.tick text{
	font-size: 12px;
}

.tick line{
	opacity: 0.2;
}

/* ======================================== */
/* brush */

.resize path {
	fill: #000;
	/* fill-opacity: .8;
	stroke: #fff; 
	stroke-opacity: 0.75; 
	stroke-width: 1px; */
}

.brush .extent {
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

#year-chart .slider {
	cursor: ew-resize;
}

/* ======================================== */
/* preloader */

#preloader {
	background: white;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	color:black;
	z-index: 9999;
}

#windmill-preload{
	position: relative;
	height: 400px;
	width: 200px;
	margin-left: 50%;
	bottom: 60%;
}

#load-text{
	position: absolute;
	font-family: Eurostile;
	font-size: 20px;
	margin-top: 375px;
	margin-left: -30px;
}

/* Wind animation */

/* Firefox */
@-moz-keyframes bladeSpin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(1440deg); }
}
/* WebKit - Chrome and Safari */
@-webkit-keyframes bladeSpin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(1440deg); }
}
/* Opera */
@-o-keyframes bladeSpin {
	from { -o-transform: rotate(0deg); }
	to { -o-transform: rotate(1440deg); }
}

@keyframes bladeSpin {
	from { transform: rotate(0deg); }
	to { transform: rotate(1440deg); }
}

.stand {
	position: absolute;
	top: 225px;
	height: 180px;
	margin-top: -90px;
	margin-left: -30px;
}

.blades {
	position: absolute;
	top: 160px;
	height:145px;
	margin-top: -90px;
	margin-left: -70px;

	/* Animation properties*/

	/* Firefox */
	-moz-animation: bladeSpin 10s ease-in-out infinite;
	/* WebKit - Chrome and Safari */
	-webkit-animation: bladeSpin 10s ease-in-out infinite;
	/* Opera */
	-o-animation: bladeSpin 10s ease-in-out infinite;
	/* general syntax */
	animation: bladeSpin 10s ease-in-out infinite;

}