/* ======================================== */
/* general */

body {
	padding:0; 
	margin:0; 
	font-family: Tahoma, Geneva, sans-serif; 
	font-size: 12px;
}

h1 {
  font-size:160%;
  margin-top:4px;
  padding-bottom:0;
   margin-bottom:8px;
	text-align: center;
}

h3 {
  font-size:120%;
   padding-top:8px;
   padding-bottom:0;
   margin-top:0;
   margin-bottom:0;
}

p {
	font-size: 14px;
}

p a:link, p a:visited {
  color: #064fde;
  text-decoration: none;
}
p a:hover {
  text-decoration: underline;
}

.first-col {
  padding-right: 6px;
}
	
.row {
    margin-right: 0px;
    margin-left: 0px;
}

#controls .row {
	padding: 10px 0px;
}

/* ======================================== */
/* filtering section area */

div.filterBy {
	padding: 0 0 0 0px;
	margin: 0;
}

#year-controls{
	margin-top: -15px;
	margin-left: -40px;
}

div.filterBy {
	padding: 0 0 0 10px;
	margin: 0;
}

label {
	cursor: text;
	font-size: 1.3em;
	margin-top: 1em;
}

p.filterLabel {
	display: inline;
	margin: 0 0 0 .2em;
	padding-bottom: 0;
}

div.tooltip {
	position: absolute;
	text-align: center;
	background: white;
	padding: 2px;
	border: 1px;
	border-radius: 4px;
	pointer-events: none;
}

/* ======================================== */
/* plant-specific area */


/* intro div */

#intro-div {
	height: 180px;
	margin-top: -5px;
}

/* plant details */

#tooltip {
	text-align:center;
	padding: 10px;
	border: solid 1px gray;
	border-radius: 10px;
	-moz-box-shadow: inset 0 0 2px #000000;
	-webkit-box-shadow: inset 0 0 2px #000000;
	box-shadow: inset 0 0 2px #000000;
}

#tooltip .line{
	fill: none;
	stroke: blue;
	stroke-width: 2px;
}

/* ======================================== */
/* map */

#map circle {
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1px;
}

circle.size {
	fill: #ddd;
}

#site-name-row {
  margin-top: 5px;
  margin-bottom:0;
  padding-bottom:0;
}

/* ======================================== */
/* legend */

#legend text {
	alignment-baseline: middle;
	font-size: 14px;
}

#legend text. {
	text-anchor: start;
}

#legend text.size-text {
	text-anchor: middle;
}

/* ======================================== */
/* chart components */

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.browser text {
	text-anchor: end;
}

.area {
	opacity: 0.7;
	clip-path: url(#clip);
}

.area:hover {
	opacity: 1;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.tick text{
	font-size: 12px;
}

.tick line{
	opacity: 0.2;
}

/* ======================================== */
/* brush */

.resize path {
	fill: #000;
	/* fill-opacity: .8;
	stroke: #fff; 
	stroke-opacity: 0.75; 
	stroke-width: 1px; */
}

.brush .extent {
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

#year-chart .slider {
	cursor: ew-resize;
}